---
import Layout from '~/layouts/main.astro';

// Component Imports
import Link from '~/components/Link.astro';

import { title, samplePageTitle } from '~/settings';
---

<Layout
  content={{
    title
  }}
>
  <div class="flex min-h-screen flex-col items-center gap-4 p-10">
    <h1 class="text-3xl">{title}</h1>

    <div class="mb-6 w-full border-b border-gray-300"></div>

    <div class="font-bold">Available Pages:</div>

    <Link class="pr-2" href="/content">{samplePageTitle}</Link>

    <div class="mt-6 w-full border-b border-gray-300"></div>

    <Link href="https://github.com/erkobridee/astro-issue-15417-min-example"
      >GitHub - Erko Bridee / astro-issue-15417-min-example</Link
    >
  </div>
</Layout>
