---
import type { TCollectionEntry } from '~/content/utils/samples';

import { render } from 'astro:content';

import Layout from '~/layouts/main.astro';

// Component Imports
import Link from '~/components/Link.astro';
import TailwindTypographyProse from '~/components/TailwindTypographyProse.astro';

import { getEntries } from '~/content/utils/samples';

import { title, samplePageTitle } from '~/settings';

//----------------------------------------------------------------------------//

export async function getStaticPaths() {
  const entries = await getEntries();

  return entries.map((entry) => {
    const slug = entry.data.slug;

    return {
      params: { slug },
      props: { entry }
    };
  });
}

interface Props {
  entry: TCollectionEntry;
}

const { entry } = Astro.props;

const { data } = entry;

const { title: pageTitle } = data;

const { Content } = await render(entry);
---

<Layout
  content={{
    title
  }}
>
  <div class="flex min-h-screen flex-col items-center gap-4 p-10">
    <h1 class="text-3xl">{title}</h1>

    <div class="w-full border-b border-gray-300"></div>

    <div class="flex gap-2">
      <Link href="/">Go home</Link>

      <span>/</span>

      <Link href="/content">{samplePageTitle}</Link>

      <span>/</span>

      <span class="font-semibold">{pageTitle}</span>
    </div>

    <div class="w-full border-b border-gray-300"></div>

    <TailwindTypographyProse>
      <Content />
    </TailwindTypographyProse>
  </div>
</Layout>
